

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
  }

  * {
    box-sizing: border-box;
    line-height: normal;
    margin: unset;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    display: block;
  }

  ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
  }

  .text-shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}